@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Nunito', sans-serif; 
    animation: ease 2s all;
    user-select: none;
}